
.listItemLabel{
    color: #67A1D4;
    font-weight: bold;
}

.blockItem .list-group{    
    margin-bottom:3px;
    margin-top:3px;
}

.candidate-name-header {
    color: #2567ae;
}

.search-item-title {
    margin-top: 3px;
}

.search-item-option {
    margin-left: 2px;
    margin-right: 2px;
}

.search-item-label {
    width: 85%;
}

.search-item-content {
    width: 100%;
}
