
.listItemLabel{
    color: #341414;
    font-weight: bold;
}

.blockItem{    
    margin-bottom:3px;
    margin-top:3px;      
}

.search-item-title {
    margin-top: 3px;
}

.search-item-option {
    margin-left: 2px;
    margin-right: 2px;
}
