
.listItemLabel{
    color: #67A1D4;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 2px;
}

.blockItem .list-group{    
    margin-bottom:3px;
    margin-top:3px;
}

.list-group-item {
    min-height: 160px;
}

.candidate-name-header {
    color: #2567ae;
}

.search-item-title {
    margin-top: 3px;
}

.search-item-option {
    margin-left: 5px;
}

.search-item-label {
    width: 85%;
}

.search-item-content {
    width: 100%;
}
